---
layout: base
eleventyComputed:
  pagination:
    data: collections.posts
    size: 1
    alias: posts
---
<article class="min-h-screen">
  <header>
    {%- assign previousPost = collections.posts | getPreviousCollectionItem %}
    {%- assign nextPost = collections.posts | getNextCollectionItem %}

    <div class="flex sm:justify-end sm:flex-row items-center gap-y-5 mb-8 flex-col lg:text-2xl text-xl">
      {%- if nextPost or previousPost %}
        {%- if previousPost %}
          <div class="flex items-center gap-x-2">
            {% feather "arrow-left" %}
            <span class="sr-only">Previous: </span
            ><a href="{{ previousPost.url }}">
              {{- previousPost.data.title -}}
            </a>
          </div>
        {% endif %}
        <a class="mr-auto ml-auto" href="/blog/">Back to Archive</a>
        {%- if nextPost %}
          <div class="flex items-center gap-x-2">
            <span class="sr-only">Next: </span><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
            {% feather "arrow-right" %}
          </div>
        {% endif %}
      {%- endif %}
    </div>

    <h1>
      {{ title }}
      <small>{{ subtitle }}</small>
    </h1>
    <dl>
      <dt class="sr-only">Published:</dt>
      <dd>{% include 'partials/date.liquid' %}</dd>
    </dl>
    <div>
      {% for tag in tags %}
        <a class="no-underline text-neutral-600 hover:text-neutral-700" href="/tags/{{ tag | slugify }}">
        <span class="px-3 py-0.5 border border-neutral-400 hover:border-neutral-500 bg-neutral-200 hover:bg-neutral-300 font-serif rounded-lg">{{ tag }}</span></a>
      {% endfor %}
    </span>
  </header>
  {{ content }}
  <footer class="mt-auto">
    <a href="#top">back to top</a>
  </footer>
</article>
